<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Radiodiodi</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://radiodiodi.fi/static/banner_transparent.png" />
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="static/autogrid.css">
<link rel="stylesheet" href="static/style.css">
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<%- include landing-page-header.ejs %>

<div class="main-container">
    <section class="white">
        <div class="auto-content section-main section-overview">
            <div class="auto-row">
                <div class="auto-col-6">
            <h2>Mikä Radiodiodi?</h2>
            <p>Radiodiodi on Otaniemestä ponnistava joka vuosi täysin opiskelijavetoisesti toteutettu kaupallinen wappuradio. Radio toteutetaan vuonna 2017 jo kuudetta kertaa ja lähetys on käynnissä täydet kaksi viikkoa ennen wappuaattoa.</p>
            <p>Projektiin osallistuu joka vuosi satoja vapaaehtoisia taustatyön muodossa ja ohjelmaakin tulee vuosittain tekemään kahden lähetysviikon aikana yli 100 vapaaehtoista.</p>
            <p>Radiota kuuntelee lähetyksen aikana koko pääkaupunkiseutu ja lasketulla kuuluvuusalueella asuu noin 400 000 ihmistä!</p>
                </div>
                <div id="audio-div" class="auto-col-6">
                    <h3>Kuuntele Radiodiodia taajuudella<br><strong>105.0 MHz</strong> sekä verkossa!</h3>
                    <audio controls>
                        <source src="https://virta.radiodiodi.fi/stream.mp3" type="audio/mp3">
                    </audio>
                    <p>Kuuntele myös <a style="color: #3d3d3d" href="https://virta.radiodiodi.fi/stream.mp3.m3u">suosikkisoittimellasi!</a></p>
                    <%- include shoutbox-partial.ejs %>
                    <h4 style="margin-top: 50px"><a id="tg-link" href="https://t.me/radiodiodichat">
                        Liity keskusteluun Telegramissa!
                    </a></h4>
                </div>
            </div>
        </div>
    </section>
    <section class="lightblue">
        <div class="programme-chart auto-content section-main">
            <h2 id="programmes" class="section-title">Ohjelmakartta</h2>
            <div class="programme-tomorrow auto-col-12" style="padding-bottom: 0">
                <div id="chart-selector">
                    <h3 id="date-title"><%= programmes.weekdays[(programmes.today - 3) % 7] %> <%= programmes.today %>.4.2017</h3>
                    <button id="programme-prev-day"><</button>
                    <button id="programme-next-day">></button>
                </div>
                <div id="next-day">
                    <% (programmes.all['' + programmes.today] || []).forEach((show) => { %>
                        <div class="chart-show">
                            <small><%= show.start.substr(11, 5) + ' - ' + show.end.substr(11, 5) %></small>
                            <p><%= show.title %></p>
                            <p style="font-style: italic"><%= show.by %></p>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <div style="text-align: center">
                    Katso koko kalenteri <a href="/calendar">täältä!</a><br>
                    Ohjelmakartta päivittyy automaattisesti tunnin välein.
                </div>
            </div>
    </section>
    <section class="white">
            <div id="team" class="auto-content section-main section-team">
                <h2 class="section-title">Tiimi</h2>
                <div class="dude auto-col-4">
                    <div class="image-border">
                        <img src="static/Panu.jpg" alt="" class="dude-image" width=150px>
                    </div>
                    <span class="dude-description">Puheenjohtaja</span>
                    <h5 class="dude-name">Panu Oksiala</h5>
                    <span class="dude-contact">panu@radiodiodi.fi</span>
                </div>
                <div class="dude auto-col-4">
                    <div class="image-border">
                        <img src="static/Onni.jpg" alt="" class="dude-image" width=150px>
                    </div>
                    <span class="dude-description">Päätoimittaja</span>
                    <h5 class="dude-name">Onni Lampi</h5>
                    <span class="dude-contact">onni@radiodiodi.fi</span>
                </div>
                <div class="dude auto-col-4">
                    <div class="image-border">
                        <img src="static/Juuso.jpg" alt="" class="dude-image" width=150px>
                    </div>
                    <span class="dude-description">Sihteeri</span>
                    <h5 class="dude-name">Juuso Mikkonen</h5>
                    <span class="dude-contact">juuso@radiodiodi.fi</span>
                </div>
                <div class="dude auto-col-4">
                    <div class="image-border">
                        <img src="static/A-J.jpg" alt="" class="dude-image" width=150px>
                    </div>
                    <span class="dude-description">Studiopäällikkö</span>
                    <h5 class="dude-name">Antti-Juho Nieminen</h5>
                    <span class="dude-contact">a-j@radiodiodi.fi</span>
                </div>
                <div class="dude auto-col-4">
                    <div class="image-border">
                        <img src="static/eero.jpg" alt="" class="dude-image" width=150px>
                    </div>
                    <span class="dude-description">Lähetyspäällikkö</span>
                    <h5 class="dude-name">Eero Silfverberg</h5>
                    <span class="dude-contact">eero@radiodiodi.fi</span>
                </div>
                <div class="dude auto-col-4">
                    <div class="image-border">
                        <img src="static/Jan.jpg" alt="" class="dude-image" width=150px>
                    </div>
                    <span class="dude-description">IT-päällikkö</span>
                    <h5 class="dude-name">Jan Tuomi</h5>
                    <span class="dude-contact">jan@radiodiodi.fi</span>
                </div>
                <div class="dude auto-col-4">
                    <div class="image-border">
                        <img src="static/Mari.jpg" alt="" class="dude-image" width=150px>
                    </div>
                    <span class="dude-description">Graafikko</span>
                    <h5 class="dude-name">Mari Porko</h5>
                    <span class="dude-contact">mari@radiodiodi.fi</span>
                </div>
                <div class="dude auto-col-4">
                    <div class="image-border">
                        <img src="static/viljami.jpg" alt="" class="dude-image" width=150px>
                    </div>
                    <span class="dude-description">Vesinokkaeläin</span>
                    <h5 class="dude-name">Viljami</h5>
                </div>

            </div>
        </section>
    </div>
    <script>
        var programChart = {
            programme: <%- JSON.stringify(programmes.all) %>,
            selectedDate: <%= programmes.today %>,
            weekdays: <%- JSON.stringify(programmes.weekdays) %>
        };
    </script>
    <%- include footer.ejs %>

</body>
</html>
