<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Musiikkikirjasto</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="static/autogrid.css">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header-container">
        <header class="wrapper clearfix">
        </header>
    </div>
    <nav class="navigation-main">
        <ul>
            <li><a href="/">Etusivulle</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <div id="search" class="library-search auto-content section-main section-overview">
            <h2>Musiikkikirjasto</h2>
            <form action="/library#search">
                <div>
                    <input id="searchBar" type="search" name="search" class="library-search-input">
                    <button type="submit" class="library-search-input">Hae!</button>
                </div>
                <div class="checkbox-panel">
                    <input id="titleCheckbox" type="checkbox" name="title" checked>Kappale</input>
                    <input id="artistCheckbox" type="checkbox" name="artist" checked>Artisti</input>
                    <input id="albumCheckbox" type="checkbox" name="album" checked>Albumi</input>
                </div>
            </form>
        </div>
        <div class="auto-content section-main">
            <table class="library-table auto-row">
                <% if (data.length > 0) { %>
                    <h3><%= data.length %> hakutulos(ta).</h3>
                    <tr class="library-tr">
                        <th class="library-th">Kappale</th>
                        <th class="library-th">Artisti</th>
                        <th class="library-th">Albumi</th>
                    </tr>
                <% } %>

                <% data.forEach((item) => { %>
                <tr class="library-tr">
                    <td class="library-td"><%= item.title %></td>
                    <td class="library-td"><%= item.artist %></td>
                    <td class="library-td"><%= item.album %></td>
                </tr>
                <% }) %>
            </table>
        </div>
    </div>

    <script>

        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        var searchParam = getParameterByName('search', null);
        var titleParam = getParameterByName('title', null);
        var artistParam = getParameterByName('artist', null);
        var albumParam = getParameterByName('album', null);
        if (searchParam) {
           document.getElementById('searchBar').value = searchParam;
           document.getElementById('titleCheckbox').checked = titleParam != null;
           document.getElementById('artistCheckbox').checked = artistParam != null;
           document.getElementById('albumCheckbox').checked = albumParam != null;
        }
    </script>

    <%- include footer.ejs %>

</body>
</html>
